header {
  /*encabezado*/
  background: rgb(135, 56, 155);
  width: 100%;
  position: fixed;
  /*cuando baje la pagina se mantiene la barra*/
  z-index: 100;
}

.lista {
  margin-top: 100px;
  background-color: rgba(243, 243, 243, 0.952);
}

footer {
  /* Pie de pagina */
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(189, 101, 93);
}