/*CSS de pagina 1*/

/*encabezado*/
header {
  background: rgb(135, 56, 155);
  width: 100%;
  position: fixed;
  z-index: 100;
  /*cuando baje la pagina se mantiene la barra*/
}
/* Pie de pagina */
.piePagina {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(112, 100, 99);
}